<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <div class="site-title">
        <a href="/"><h1>Imaginary University</h1></a>
        <p>Brought to you by Group5</p>
    </div> -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
</body>