    <nav>
        <div class="site-title">
            <a href="/"><h1>Imaginary University</h1></a>
            <p>Brought to you by Group5</p>
        </div>
        <ul>
            <li><a href="/">Courses</a></li>
            <li><a href="/courses/create">Add New Course</a></li>
        </ul>       
    </nav>