<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <h1>student index</h1>
        <!-- Add more sections as needed -->
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>